---
import Layout from "../layouts/Layout.astro";
import Dashboard from "../react/Dashboard";
---

<Layout title="Bazooka">
	<main class="mt-[11vh] md:mt-[14vh]">
		<Dashboard client:load />
	</main>
</Layout>
