---
import { BsGithub } from "react-icons/bs/index";
---

<footer
	class="border-t border-t-zinc-800 flex items-center justify-between py-8 mt-14"
>
	<p class="text-zinc-500 text-sm">
		⚡️ Built by <a
			href="https://twitter.com/trulyao"
			target="_blank"
			rel="noreferrer"
			class="text-zinc-100">Ayodeji</a
		>
	</p>
	<a href="https://github.com/aosasona/bazooka">
		<BsGithub size={16} />
	</a>
</footer>
